<div class="fixed-action-btn" style="position: fixed; bottom: 24px; right: 24px;">
  <a materialize="leanModal" href="#modal1" class="btn-floating waves-effect waves-light btn-large green z-depth-2 modal-trigger">
    <i class="large material-icons">add</i>
  </a>
</div>

<div id="modal1" style="bottom: 10%; overflow-y: hidden;" class="modal">
  <list-form-component [lists$]="lists$" (listFormSubmit)="onFormSubmit($event)"></list-form-component>
</div>

<div [materializeDropdownStream]="lists$">
  <list-card *ngFor="let list of lists$ | async" [list]="list">
    <dropdown-ul>
      <li><a href="#!">Edit {{list.id}}</a></li>
      <li><a href="#!" (click)="onDeleteClick(list.id)">Delete</a></li>
    </dropdown-ul>
  </list-card>
</div>
