<form style="padding: 15px; height: 90%" [ngFormModel]="form" (ngSubmit)="onSubmit()">

  <div class="input-field col s12">
    <input placeholder="Enter list name" id="name" ngControl="name" type="text" />
  </div>

  <div class="input-field col s12">
    <select materialize="material_select" [materializeSelectOptions]="lists$ | async" ngControl="fromListId" class="form-control" styie="width:auto; display: inline-block;">
      <option value="" disabled selected></option>
      <option *ngFor="let list of lists$ | async" value="{{ list.id }}">{{ list.name }}</option>
    </select>
    <label style="left: 0">Copy</label>
  </div>

  <div class="input-field col s12">
    <button class="btn-floating waves-effect waves-light" [ngClass]="{disabled: !form.valid}" type="submit" [disabled]="!form.valid">
      Save
    </button>
  </div>
</form>

