<div class="fixed-action-btn" style="position: fixed; bottom: 24px; right: 24px;">
  <a materialize="leanModal" href="#modal1" class="btn-floating waves-effect waves-light btn-large green z-depth-2 modal-trigger">
    <i class="large material-icons">add</i>
  </a>
</div>

<div id="modal1" class="modal bottom-sheet">
  <item-form-component [functions$]="functions$" (itemFormSubmit)="onFormSubmit($event)"></item-form-component>
</div>

<div [materializeDropdownStream]="items$">
  <item-card *ngFor="let item of items$ | async" [item]="item">
    <action>
      <div style="width:60px;display:flex">
        <a class="btn-flat btn-floating btn-large waves-effect waves-light teal accent-4">
          <i style="font-size: 34px;" class="mdi mdi-wrench"></i>
        </a>
      </div>
    </action>
    <dropdown-ul>
      <li><a>Edit</a></li>
      <li><a (click)="onDestroy(item)">Delete</a></li>
    </dropdown-ul>
  </item-card>
</div>

<div style="width: auto; text-align: center; padding: 50px;">
  <a (click)="onLoadMore()" class="btn waves-effect waves-light">Load More</a>
</div>
