<div class="row">
  <div class="col s12">
    <nav>
      <div class="col s12">
        <div class="nav-wrapper">
          <a class="brand-logo" href="#">Gear List</a>
          <ul class="right">
            <li><a class="nav-link" [routerLink]="['Lists']">Lists</a></li>
            <li><a class="nav-link" [routerLink]="['Items']">Items</a></li>
            <li><a class="nav-link" [routerLink]="['Functions']">Functions</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
